html {
	font-size: 32px;
}

body {
	background-color: #E4E0D8;
}

.main-content {
	position: relative;
	top: 3.75rem;
}

a {
	color: #F9F6EE;
	font-weight: bold;
	text-decoration: none;
	font-size: 0.5rem;
}

.button a {
	display: inline-block;
	border-radius: 4px;
	background-color: #15342C;
	color: #B7C18F;
	margin-top: 1rem;
	padding: .75rem .75rem;
	font-family: sans-serif;
	opacity: 1;
	font-size: .75rem;
}

.button a:hover {
	color: #F9F6EE;
	font-weight: bold;
	text-decoration: none;
}


span::after {
	content: "\a";
	white-space: pre;
}

span {
	font-family: sans-serif;
	display: inline-block;
	max-width: 80%;
	font-size: .75rem;
	color: 1C1C1C;
	text-align: center;
}


a:hover {
	color: #CCA3DC;
	font-weight: bold;
	text-decoration: none;
}

a:active {
	color: #B7C18F;
	font-weight: bold;
	text-decoration: none;
}

p {
	border: 1px solid #000000;
	padding: 1rem;
	margin: 10px;
	width: 30%;
	font-size: 0.75rem;
	text-align: center;
}


h2 {
	font-family: sans-serif;
	font-weight: bold;
	color: #401F51;
	font-size: 1.5rem;
	padding-top: .5rem;
}

.striking {
	color: #1C1C1C;
	font-size: .85rem;
	font-weight: bold;
	font-family: sans-serif;
	margin-bottom: .5rem;
	margin-top: .5rem;
	margin-left: .15rem;
	text-transform: uppercase;
}

.center {
	text-align: center;
}

/*=================================
Header
=================================*/

header {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #454545;
}

/*
a .logo {
	position: center;
	display: block;
	overflow: hidden;
	position: absolute !important;
	border: 0 !important;
	padding-left: .5rem;
	padding-top: .6rem;
	margin: 0 !important;
	color: #F9F6EE;
	font-family: "Outfit", sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	display: inline-block;
}
*/

.logo {
	float: left;
	display: block;
	margin-left: 1rem;
	margin-right: auto;
	padding-top: .75rem;
	padding-bottom: .75rem;
	width: 5%;
	max-height: 5%;
}

.head-nav {
	float: right;
	text-transform: uppercase;
	padding-top: .5rem;
}

.head-nav li {
	/*float: left;*/
	margin-right: 3rem;
	display: inline-block;
	color: #F9F6EE;
	margin-top: .75rem;
}

/*===================================
CTA
===================================*/

#sign-up-section {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	height: 20rem;
	background-image: url("../images/ice-cream.jpg");
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

#sign-up-section {
	position: relative;
}

#sign-up-cta {
	display: block;
	position: relative;
	background-color: #F9F6EE;
	top: 5rem;
	padding: 1rem 2rem 2rem 2rem;
	max-width: 35%;
	margin-bottom: 4rem;
	margin-left: 3rem;
	border-radius: 0.125rem;
}





/*====================================
Features
====================================*/

#features {
	display: flex;
	column-gap: 0.75rem;
	margin: 1rem auto;
	width: 80%;
	justify-content: center;
	align-items: center;
}

.feature {
	flex: 1;
}

.image-container {
	max-height: 4rem;
	margin: 0 auto;
	position: center;
}

#features .feature img {
	display: block;
	object-fit: cover;
	width: 40%;
	height: 20rem;
	margin: 0 auto;

}

#features .feature p {
	padding-top: 1rem;
	padding-bottom: 1rem;
	height: 5rem;
	width: 88.5%;
	font-family: sans-serif;
}

#features .feature img,
.feature p {
	margin: auto;
	width: 100%;
	padding-bottom: 0.5rem;
}

/*====================================
Community
====================================*/

#community {
	display: flex;
	width: 100%;
	margin: 3rem auto;
}

.community-sign-up {
	display: flex;
}


#community img {
	display: inline-block;
	width: 60%;
	height: auto;
	overflow: hidden;
	object-fit: cover;
}

.community-info {
	margin-top: 1.75rem;
}

#community img,
#community p {
	margin: auto;
	height: 12rem;
}

#community p {
	font-family: sans-serif;
	width: 40%;
	overflow: hidden;
	text-align: center;
	padding-top: 10%;

}

/*===================================
Footer
===================================*/

.page-footer {
	background-color: #454545;
	margin-top: 1rem;
}

.copyright {
	border: none;
	font-size: .5rem;
	text-align: right;
}


footer li {
	float: left;
	margin-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	display: block;
	color: #F9F6EE;
	background-color: #454545;
}

footer p {
	float: right;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #F9F6EE;
	background-color: #454545;
}

*/